{% extends 'base.html' %}
{% load static %}


{% block title %}Home - Milo{% endblock %}

{% block content %}
<div class="intro">
    <div class="container-fluid">
        <div class="row">
            {% for popular in famous_posts %}
            <div class="col-md-4">
                <a class="intro-block" href="{% url 'post_detail' popular.id %}" style="background-image: url('{{ popular.image.url }}')">
                    <div class="intro-block-inner">
                        <time class="timeago" datetime="{{ popular.created_at|date:'Y-m-d H:i' }}">
                            {{ popular.created_at|date:'d F Y' }}
                        </time>
                        <h2>{{ popular.title }}</h2>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<div class="container">
    <hr />
    <div class="row">
        <div class="col-md-9">
            <div class="row">
                {% for post in posts %}
                <div class="col-md-6">
                    <article class="card mb-4">
                        <header class="card-header">
                            <div class="card-meta">
                                <a href="{% url 'post_detail' post.id %}"><time class="timeago" datetime="{{ post.created_at|date:'Y-m-d H:i' }}">{{ post.created_at|date:'d F Y' }}</time></a>
                                in {{ post.place }}
                            </div>
                            <a href="{% url 'post_detail' post.id %}">
                                <h4 class="card-title">{{ post.title }}</h4>
                            </a>
                        </header>
                        <a href="{% url 'post_detail' post.id %}">
                            <img class="card-img" src="{{ post.image.url }}" alt="{{ post.title }}" />
                        </a>
                        <div class="card-body">
                            <p class="card-text">{{ post.body|truncatewords:20 }}</p>
                        </div>
                    </article>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-3 ms-auto">
            <aside class="sidebar">
                <div class="card mb-4">
                    <div class="card-body">
                        <h4 class="card-title">About</h4>
                        <p class="card-text">This is my web blog where I share insights on web development, programming, and more. Join me on my journey through the world of technology and coding. <a href="#">Learn more</a>.</p>
                    </div>
                </div><!-- /.card -->
            </aside>
            <aside class="sidebar sidebar-sticky">
                <div class="card mb-4">
                    <div class="card-body">
                        <h4 class="card-title">Popular stories</h4>
                        {% for popular in popular_posts %}
                        <a href="{% url 'post_detail' popular.id %}" class="d-inline-block">
                            <h4 class="h6">{{ popular.title }}</h4>
                            <img class="card-img" src="{{ popular.image.url }}" alt="{{ popular.title }}" />
                        </a>
                        <time class="timeago" datetime="{{ popular.created_at|date:'Y-m-d H:i' }}">
                            {{ popular.created_at|date:'d F Y' }}
                        </time> in {{ popular.place }}
                        <br>
                        <br>
                        {% endfor %}

                    </div>
                </div><!-- /.card -->
            </aside>
        </div>
    </div>
</div>
{% endblock %}
